
    footer {

        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: whitesmoke;
        color: black;
        text-align: center;
    }
    .carousel-item {
        height: 65vh;
        min-height: 35px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }