/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(255, 240, 221);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}