<section class="col-md-12 content padding" id="services">
    <div class="col-lg-6 col-md-6 col-md-push-6 content-item">
       <img src="https://www.incimages.com/uploaded_files/image/970x450/getty_663974538_353364.jpg" alt="Image" class="tm-image">
   </div>
   <div class="col-lg-6 col-md-6 col-md-pull-6 content-item background flexbox">
       <h2 class="section-title">About Us</h2>
       <p class="section-text">Morbi auctor tristique mattis. Vestibulum vitae sapien a ligula mollis ullamcorper ac a nisi. Ut a dignissim est, sodales pellentesque purus. Pellentesque porttitor ante at nulla ornare, eget sagittis sapien pulvinar. In semper mi ut enim mollis, ut auctor lectus posuere.</p>
       <ul class="dark-blue-text">
        e-mart (Korean: 이마트) is the largest retailer in South Korea. There were 160 stores across the country as of December 2016. It was founded on 12 November 1993 by Shinsegae as the first discount retailer in South Korea.[5]

        E-Mart is the oldest and largest discount store chain in Korea with total sales volume exceeding US$9.4 billion in 2009. With new store openings and acquisition of Wal-Mart Korea in 2006, E-Mart is enjoying its retail leadership in the discount store market.[6] E-mart offers everything from food to clothes to diapers, and provides a very large variety of merchandise. E-mart has a website, where products can be bought or viewed online.[7]
        
        E-Mart is the first Korean retailer to advance into China with the aim to become one of top leading global retailers. In January 2011, there were 27 stores in China.[8] By February 2014, China's store count shrunk to 13 stores.[9]
       </ul>
      
   </div>

</section>

<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->